# Ignore virtual environment folder
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
*.out
*.err

# Ignore environment files
.env
*.env
